[package]
name = "obd2_debugging_suite"
version = "0.0.1"
edition = "2024"

[dependencies]
tokio = { version = "1", features = ["full"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serialport = "4.0.1"
gtk = { version = "0.9", features = ["v3_22"] }
